:export {
  baseTopMenuBackground: $base-top-menu-background;
  baseTopMenuTextColor: $base-top-menu-text-color;
  baseTopMenuActiveTextColor: $base-top-menu-active-text-color;
  baseTopMenuHeight: $base-top-menu-height;
  baseSidebarMenuWidth: $base-sidebar-menu-width;
  baseSidebarMenuBackground: $base-sidebar-menu-background;
  baseSidebarMenuTextColor: $base-sidebar-menu-text-color;
  baseSidebarMenuActiveTextColor: $base-sidebar-menu-active-text-color;
}