// 项目提供scss全局变量
// 定义项目主题颜色

// 头部菜单
$base-top-menu-height: 50px;
$base-top-menu-background: #282E38;
$base-top-menu-text-color: #D4D7DE;
$base-top-menu-active-text-color: #3170FF;

// 侧边栏菜单
$base-sidebar-menu-width: 186px;
// 收缩菜单最小宽度为0px，大于0px的，建议设置范围在宽度30px到64px之间
$base-collapse-sidebar-menu-width: 50px; 

$base-sidebar-menu-background: #32363D;
$base-sidebar-menu-text-color: #D4D7DE;
$base-sidebar-menu-active-text-color: #fff;

// 底部
$base-footer-bar-height: 28px;


// 面包屑高度
$base-breadcrumb-height: 40px;

// 标签栏高度
$base-tagsView-height: 30px;


// 菜单项高度
$menu-item-height: 45px;
$menu-item-border-color: #282E38;